{% extends 'layout.html' %}
    {% block link %}
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="style.css") }}>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="bear.css") }}>
        <script src={{ url_for("static", filename="jquery-3.2.1.min.js") }}></script>

    {% endblock %}
    {% block title %}
        关于我 —— 一个懒惰的90后
    {% endblock %}

{% block body %}
<div class="note-wrapper">
    <h1>关于我 —— 一个懒惰的90后</h1>
    <p><span class='hashtag'>#随笔</span></p>
    <br>
    <p>平时不学无术 — 成天就知道睡觉的家伙</p>
    <p>小小的迷恋二次元</p>
    <p>上课的时候经常睡觉😴 </p>
    <p>上班的时候经常睡觉😴</p>
    <p>每天从晚上十点半睡到早上七点半</p>
    <p>中午午睡半小时 — 但是白天还是要打瞌睡啊啊喂</p>
    <hr>
    <p>👇下面要开始吹牛逼了</p>
    <br>
    <p>Delphi | 男 | 1994 |联系电话：13*77 | 电子邮件 <a href="mailto:379785213@qq.com">379785213@qq.com</a></p>
    <br>
    <br>
    <p><b>专业能力与成就</b></p>
    <hr>
    <p>2012-2016就读于  <span id="school_space">浙江科技学院</span>  物联网+计算机专业： </p>
    <br>
    <ul><li>git地址: <a href="http://git.oschina.net/__Delphi__">http://git.oschina.net/__Delphi__</a>
    </li><li>有Redis、ssdb等常用nosql的深度的理解
    </li><li>Python主流框架的熟练运用和原理掌握
    </li><li>掌握Linux下常用服务器例如DHCP、DNS、Samba、Web、* FTP、Mail等架设与维护
    </li><li>cacti、snmp、niagos、等监控
    </li><li>熟悉网站的架构、接口的设计与实现，mysql、redis等数据库的设计、代码的测试
    </li><li>良好的编码习惯, 单元测试, 遵循 Pep8 pylint pyflakes规范
    </li><li>能够熟练的使用git进行团队协作
    </li></ul>
    <br>
    <br>
    <p><b>自我介绍</b></p>
    <hr>
    <ul><li>逻辑清晰，沟通能力强，热爱编程和英语，熟练掌握python编程。
    </li><li>待人和睦、善于与人交往、能与人协调工作、有很强的上进心和持久的工作热情
    </li></ul>
    <br>
    <br>
    <p><b>项目经历</b></p>
    <hr>
    <ul>
        <li>WHOIS 域名到期扫描 通知
            <ul><li>扫描给定域名的whois 获取他们的过期时间 如果所剩时间不多了 就发邮件通知</li></ul>
        </li>
        <li>DNS、Web、Port、API 监控告警(Python)</li>
        <li>seo数据采集(Python)</li>
        <li>客户端主机性能监控告警(Python)
            <ul><li>    嵌入在客户端主机里每三分钟采集一次客户端主机的当前信息(cpu利用率 负载 内存 硬盘 流量)如果超过用户设定的值就发送邮件告警。 前端拿数据绘图</li></ul>
        </li>
        <li>宕机监控iplive(Python)
            <ul><li>对目标主机的HTTP宕机监控 并且在检测到宕机以后自动切换到可用的备用ip</li></ul>
        </li>

        <li>httpdns(Go)(协作完成)</li>
    </ul>
    <br>
    <br>
    <p><b>其他能力</b></p>
    <hr>
    <ul><li>英语水平：CET-6、雅思6.0
    </li><li>熟练操作办公软件、视频剪辑软件
    </li><li>曾获得省多媒体大赛DV系列一等奖
    </li><li>在校期间多次获得奖学金以及校级组织“优秀干部”等荣誉称号
    </li><li>长期折腾电脑、对于电脑的拆装维护和修理能力较强、多次帮助同学解决软件硬件方面问题
    </li></ul>
</div>

{% endblock %}