{% extends 'layout.html' %}
{% block body %}
    <div class="content">
        <div class="main_content clearfix">
            <div class="article_area">
                <div class="articles">
                    <ul>
                        {% for article in articles %}
                        <li>
                            <a class="title" href="/articles/{{article['title']}}">{{article['title']}}</a>
                            <div class="timestamp">{{article['create_time']}} | {{article['tags']}}</div>
                            <div class="desc note-wrapper">{{article['desc']|safe}}
                                <blockquote>
                                <a href="" class="readmore">(...更多)</a>
                                </blockquote>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="links">
                <div class="description">
                    <h3>关于</h3>
                    <p style="line-height: 20px"><span style="width:2px"></span>泉涸，鱼相与处于陆，相呴以湿，相濡以沫，不若相忘于江湖。</p>
                    <p>与其誉尧而非桀也，不如两忘而化其道。</p>
                </div>
                <div class="about-links">
                </div>
                <div class="functionality">
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}
