{% extends 'layout.html' %}
{% block body %}
    <div class="content">
        <div class="main_content clearfix">
            <div class="article_area">
                <div class="articles">
                    <ul>
                        {% for article in data['articles'] %}
                            <li>
                                <a class="title" href="/articles?name={{article}}">{{article}}</a>
                                <div class="timestamp">时间</div>
                                <div class="tags">标签</div>
                                <div class="desc">简介</div>
                                <a href="" class="readmore">阅读全文</a>
                            </li>

                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="links">
                <div class="description">
                    <h3>关于</h3><br>
                    Word is never eternal --<br>
                        just remeber it
                </div>
                <div class="about-links">
                    <ul>
                        <li>github.com</li>
                    </ul>
                </div>
                <div class="functionality">
                    <ul>
                        <li>登录</li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}