{% extends 'layout.html' %}
{% block body %}
    <div class="content">
        <div class="main_content clearfix">
            <div class="article_area">
                <div class="articles">
                    <ul>
                        {% for article in articles %}
                        <li>
                            <a class="title" href="/articles/{{article['title']}}">{{article['title']}}</a>
                            <div class="column"><span class="timestamp">{{article['created']}}</span> | <span>{{article['tags']}}</span></div>
                            <div class="desc note-wrapper">{{article['desc']|safe}}
                                <a href="/articles/{{article['title']}}" class="readmore">(更多...)</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="links">
                <div class="description">
                    <h3>关于</h3>
                    <div style="padding-left:20px ">
                    <p style="line-height: 20px"><span style="width:2px"></span>泉涸，鱼相与处于陆，相呴以湿，相濡以沫，不若相忘于江湖。</p>
                    <p>与其誉尧而非桀也，不如两忘而化其道。</p>
                    </div>

                </div>
                <div class="about-links">
                </div>
                <div class="functionality">
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}
