<!DOCTYPE html>
<html>
    <header>
        <title> {% block title %} Delphi's Blog 鹏鹏与丁满的天堂 {% endblock %} </title>
        {% block link %}
            <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="style.css") }}>
        {% endblock %}
        {% block header %}{% endblock %}
    </header>

    <body>
        <div class="heading">
            <div class="place_name">
                <h2>Hakunamatata</h2>
            </div>

            <div class="guide">
                <ul>
                    <li><a href="/">HomePage</a></li>
                    <li><a href="/archive">Archive</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>

        {% block body %}{% endblock %}
        <div class="footing">
            <p class="copyright">©Copyright 2017 Delphi</p>
        </div>
    </body>
</html>