<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} 无何有之乡 {% endblock %} </title>
        <link rel="shortcut icon" href={{ url_for("static", filename="icon.ico") }}>
        {% block link %}
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="style.css") }}>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="bear.css") }}>
        <script src={{ url_for("static", filename="jquery-3.2.1.min.js") }}></script>
        <script src={{ url_for("static", filename="load.js") }}></script>
        <script src={{ url_for("static", filename="moment.js") }}></script>
        {% endblock %}
        {% block header %}{% endblock %}
    </head>

    <body>
        <div class="heading">
            <div class="place_name">
                <h2><a href="/">Hakunamatata</a></h2>
            </div>

            <div class="guide">
                <ul>
                    <li><a href="/">HomePage</a></li>
                    <li><a href="/archive">Archive</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>

        {% block body %}{% endblock %}
        <div class="footing">
            <p class="copyright">©Copyright 2017 Delphi</p>
        </div>
    </body>
</html>