{% extends 'layout.html' %}
    {% block title %} Phrase {% end %}
    {% block link %}
        <link rel="stylesheet" href="{{static_url("bear.css")}}">
        <link rel="stylesheet" type="text/css" href="{{static_url("style.css")}}">
    {% end %}
    {% block header %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="created" content="2017-05-16T06:53:27+0800"/>
        <meta name="modified" content="2017-05-26T09:13:25+0800"/>
        <meta name="tags" content="英语学习"/>
        <meta name="last device" content="XerosMBP"/>
    {% end %}

    {% block body %}
        <div class="note-wrapper">
            <h1>Phrase</h1>
            <p><span class='hashtag'>#英语学习</span></p>
            <br>
            <p>follow up 夏鹏老师</p>
            <br>
            <p>paradox choice</p>
            <br>
            <p>raise expectations </p>
            <p>reduce satisfaction</p>
            <br>
            <p>XiaPeng’s take on 。。。夏鹏版本的西游记</p>
            <br>
            <p>Deem A B 把A看成B</p>
            <br>
            <p>告诉他比完了 就是想他打个电话过来</p>
            <br>
            <p>complete with — 连通 包括</p>
            <p>franchise 系列电影</p>
            <p>clad == attired</p>
            <p>recurrent 经常发生的 usually</p>
            <p>resurgence 重现</p>
            <p>redemption 救赎    </p>
            <br>
            <p>initial public offering  IPO</p>
            <br>
            <p>entrapment by a virgin  (trap) 陷阱  诱捕  entrap 给谁设套</p>
            <br>
            <p>defined as — 写作文的时候可以用这个</p>
            <br>
            <p>Tips 既然群的主旨是如何聊天。 从现在开始起 把那些很尴尬不知道应该怎么聊天的情况拉出来 记录下到这个小本本 到时候参加一次统一请教(pt的朋友圈就是这个类型)</p>
            <br>
            <p>创业次</p>
            <p>entrepreneur   企业家</p>
            <p>UK [.ɒntrəprə'nɜː(r)]</p>
            <p>startup 创业公司</p>
            <br>
            <p>pretty sight 美丽的场景    sign sight</p>
            <br>
            <p>写文章的时候 要经常替换名次 </p>
            <p>intel   the American chip maker   </p>
            <br>
            <p>a sign of broader trend   —  更广阔的趋势</p>
            <br>
            <p>going public = IPO   </p>
            <p>coming down to earth —  跌倒了地上  通常指shares</p>
            <br>
            <p>futures 期货!! </p>
            <br>
            <br>
        </div>
    {% end %}

        <script type="text/javascript">
            (function() {
                var doc_ols = document.getElementsByTagName("ol");
                for ( i=0; i<doc_ols.length; i++) {
                    var ol_start = doc_ols[i].getAttribute("start") - 1;
                    doc_ols[i].setAttribute("style", "counter-reset:ol " + ol_start + ";");
                }
            })();
        </script>
